.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formulario_label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    background-color: blue;
}